{% load static %}

<script src="{% static 'magen/lib/jquery/jquery.js' %}"></script>

<!-- CSS only -->
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
  integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
  crossorigin="anonymous"
/>

<!-- Fontawesome CSS -->



<!-- jquery-confirm CSS -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css"
/>




{% comment %}
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/css/bootstrap-timepicker.min.css"
  integrity="sha512-/Ae8qSd9X8ajHk6Zty0m8yfnKJPlelk42HTJjOHDWs1Tjr41RfsSkceZ/8yyJGLkxALGMIYd5L2oGemy/x1PLg=="
  crossorigin="anonymous"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"
  integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw=="
  crossorigin="anonymous"
/>
{% endcomment %}

<script src="{% static 'magen/lib/jquery/jquery.js' %}"></script>
<script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
  crossorigin="anonymous"
></script>

<link rel="stylesheet" href="{% static 'css/styles.css' %}" />
{% comment %} <link rel="stylesheet" href="{% static 'css/realtimechartstyle.css' %}" /> {% endcomment %}

<!-- vendor css -->
<link
  href="{% static 'magen/lib/font-awesome/css/font-awesome.css' %}"
  rel="stylesheet"
/>
<link
  href="{% static 'magen/lib/Ionicons/css/ionicons.css' %}"
  rel="stylesheet"
/>
<link
  href="{% static 'magen/lib/perfect-scrollbar/css/perfect-scrollbar.css' %}"
  rel="stylesheet"
/>
<link
  href="{% static 'magen/lib/rickshaw/rickshaw.min.css' %}"
  rel="stylesheet"
/>
<!-- magen-iot-admin CSS -->
<link rel="stylesheet" href="{% static 'magen/css/magen-iot-admin.css' %}" />
{% comment %} <link rel="stylesheet" href="{% static 'magen/lib/select2/css/select2.min.css' %}" />
<script src="{% static 'magen/lib/select2/js/select2.min.js' %}"></script> 
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
{% endcomment %}