{% load static %}

<!-- footer start -->
<footer>
    <div class="footer-element">
        <div class="footer-copyright"><span>
            Copyright 2012 - 2019 Celec Enterprise | All Rights Reserved | Powered by Celec Enterprise
        </span></div>
        <div class="footer-links"><span>
            <a href="{% url 'privacy-page' %}">Privacy Policy</a> | <a href="{% url 'terms-and-condition-page' %}">Terms & Conditions</a>
        </span>
    </div>
        
    </div>
    
    </footer>
<!-- footer ends -->