{% load static %}

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS
slim is missing ajax -->

<script src="{% static 'magen/lib/popper.js/popper.js' %}"></script>
{% comment %} <script
  src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
  integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
  crossorigin="anonymous"
></script>

<!-- jquery-confirm JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>

<!-- js Render -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jsrender/0.9.88/jsrender.min.js"></script> {% endcomment %}


<!-- Django Secure AJAX JS -->
<script src='{% static "js/csrf.ajax.js" %}'></script>


<!-- Magen JS -->
<script src="{% static 'magen/lib/jquery/jquery.js' %}"></script>
<script src="{% static 'magen/lib/bootstrap/bootstrap.js' %}"></script>
<script src="{% static 'magen/lib/jquery-ui/jquery-ui.js' %}"></script>
<script src="{% static 'magen/lib/perfect-scrollbar/js/perfect-scrollbar.jquery.js' %}"></script>


{% comment %} <script src="{% static 'magen/lib/select2/js/select2.min.js' %}"></script> {% endcomment %}

{% comment %}

<script src="{% static 'magen/js/dashboard.js' %}"></script>
{% endcomment %} {% comment %}
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"
  integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg=="
  crossorigin="anonymous"
></script>

{% url 'realtime' as realtime_url %} {% if request.path == realtime_url %} {%
endif %} {% endcomment %}
<!-- My Custom JS -->
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/utils.js' %}"></script>
<script src="{% static 'js/dropsearch.js' %}"></script>

{% comment %}
<script src="{% static 'js/chartjsmainfile.js' %}"></script>


<script src="{% static 'js/chart-dashboard.js' %}"></script>

{% url 'realtime' as realtime_url %} {% if request.path == realtime_url %}
<script defer src="{% static 'js/realtimechart.js' %}"></script>
{% endif %}
{% endcomment %}
