/*---------------------------------------------*/
.loginpage input {
  outline: none;
  border: none;
}

.loginpage textarea {
  outline: none;
  border: none;
}

.loginpage textarea:focus,
input:focus {
  border-color: transparent !important;
}

.loginpage input:focus::-webkit-input-placeholder {
  color: transparent;
}
.loginpage input:focus:-moz-placeholder {
  color: transparent;
}
.loginpage input:focus::-moz-placeholder {
  color: transparent;
}
.loginpage input:focus:-ms-input-placeholder {
  color: transparent;
}

.loginpage textarea:focus::-webkit-input-placeholder {
  color: transparent;
}
.loginpage textarea:focus:-moz-placeholder {
  color: transparent;
}
.loginpage textarea:focus::-moz-placeholder {
  color: transparent;
}
.loginpage textarea:focus:-ms-input-placeholder {
  color: transparent;
}

.loginpage input::-webkit-input-placeholder {
  color: #999999;
}
.loginpage input:-moz-placeholder {
  color: #999999;
}
.loginpage input::-moz-placeholder {
  color: #999999;
}
.loginpage input:-ms-input-placeholder {
  color: #999999;
}

.loginpage textarea::-webkit-input-placeholder {
  color: #999999;
}
.loginpage textarea:-moz-placeholder {
  color: #999999;
}
.loginpage textarea::-moz-placeholder {
  color: #999999;
}
.loginpage textarea:-ms-input-placeholder {
  color: #999999;
}

.loginpage label {
  display: block;
  margin: 0;
}

/*---------------------------------------------*/
.loginpage button {
  outline: none !important;
  border: none;
  background: transparent;
}

.loginpage button:hover {
  cursor: pointer;
}

.loginpage iframe {
  border: none !important;
}

/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.loginpage .txt1 {
  font-family: Raleway-SemiBold;
  font-size: 13px;
  color: #555555;
  line-height: 1.4;
  text-transform: uppercase;
}

.loginpage .txt2 {
  font-family: Raleway-Regular;
  font-size: 13px;
  color: #999999;
  line-height: 1.4;
}

.loginpage .txt3 {
  font-family: Raleway-Regular;
  font-size: 13px;
  color: #555555;
  line-height: 1.4;
}

/*//////////////////////////////////////////////////////////////////
[ login ]*/

.loginpage .limiter {
  width: 100%;
  margin: 0 auto;
  /* min-width: 90vh; */
}

.loginpage {
  width: 100%;
  min-height: 90vh;
  background-color: #ebebeb;
}

.loginpage .container-login100 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.loginpage .wrap-login100 {
  width: 420px;
  background: #fff;
  border-radius: 6px;
  position: relative;
  margin: 80px 40px 80px 40px;

  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.loginpage .wrap-login100:hover {
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.4);
  /* transform: scale(1.001, 1.001); */
}

/*==================================================================
  [ Form ]*/

.loginpage .login100-form {
  width: 100%;
}

.loginpage .login100-form-title {
  font-family: Raleway-Medium;
  font-size: 30px;
  color: #555555;
  line-height: 1.2;
  text-align: center;

  width: 100%;
  display: block;
}

/*------------------------------------------------------------------
  [ Input ]*/

.loginpage .wrap-input100 {
  width: 100%;
  position: relative;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 2px;
}

/*---------------------------------------------*/
.loginpage .input100 {
  font-family: Raleway-Medium;
  color: #555555;
  line-height: 1.2;
  font-size: 18px;

  display: block;
  width: 100%;
  background: transparent;
  height: 35px;
  padding: 0 25px 0 25px;
}
/*------------------------------------------------------------------
  [ Focus Input ]*/

.loginpage .focus-input100 {
  position: absolute;
  display: block;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  top: -1px;
  left: -1px;
  pointer-events: none;
  border: 1px solid #57b846;
  border-radius: 3px;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  -webkit-transform: scaleX(1.1) scaleY(1.3);
  -moz-transform: scaleX(1.1) scaleY(1.3);
  -ms-transform: scaleX(1.1) scaleY(1.3);
  -o-transform: scaleX(1.1) scaleY(1.3);
  transform: scaleX(1.1) scaleY(1.3);
}

.loginpage .input100:focus + .focus-input100 {
  visibility: visible;
  opacity: 1;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.loginpage .eff-focus-selection {
  visibility: visible;
  opacity: 1;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

/*---------------------------------------------*/
.loginpage .btn-show-pass {
  font-size: 15px;
  color: #999999;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  height: 100%;
  top: 0;
  right: 12px;
  padding: 0 5px;
  cursor: pointer;
  -webkit-transition: background 0.4s;
  -o-transition: background 0.4s;
  -moz-transition: background 0.4s;
  transition: background 0.4s;
}

.loginpage .btn-show-pass:hover {
  color: #57b846;
}

.loginpage .btn-show-pass.active {
  color: #57b846;
}

/*==================================================================
  [ Restyle Checkbox ]*/

.loginpage .input-checkbox100 {
  display: none;
}

.loginpage .label-checkbox100 {
  font-family: Raleway-Regular;
  font-size: 13px;
  color: #999999;
  line-height: 1.4;

  display: block;
  position: relative;
  padding-left: 26px;
  cursor: pointer;
}

.loginpage .label-checkbox100::before {
  content: "\f00c";
  font-family: FontAwesome;
  font-size: 13px;
  color: transparent;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 2px;
  background: #fff;
  border: 1px solid #e6e6e6;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.loginpage .input-checkbox100:checked + .label-checkbox100::before {
  color: #57b846;
}

/*------------------------------------------------------------------
  [ Button ]*/
.loginpage .container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.loginpage .login100-form-btn {
  font-family: Raleway-Bold;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 100px;
  height: 40px;
  background-color: #333333;
  border-radius: 27px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.loginpage .signup100-form-btn {
  text-decoration: none;
}

/*------------------------------------------------------------------
  [ Alert validate ]*/

.loginpage .validate-input {
  position: relative;
}

.loginpage .alert-validate .btn-show-pass {
  visibility: hidden;
}

.loginpage .alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 3px;
  padding: 4px 25px 5px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 12px;
  pointer-events: none;

  font-family: Raleway-Medium;
  color: #c80000;
  font-size: 14px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.loginpage .alert-validate::after {
  content: "\f12a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 18px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 18px;
}

.loginpage .alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .loginpage .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}

/*//////////////////////////////////////////////////////////////////
  [ Responsive ]*/

@media (max-width: 576px) {
  .loginpage .wrap-login100 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.loginpage .error-text {
  display: block;
  color: crimson;
  margin: 2% 0;
}

.header-area {
  display: flex;
  background-color: #333333;
  height: 120px;
  width: 100%;
  position: absolute;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.logo-image img {
  display: flex;
  margin: 0 auto;
  max-width: 60%;
  max-height: 50%;

  bottom: 0;
}

.loginpage .login100-form-btn:hover {
  background-color: rgba(148, 214, 0, 1);
}

a.login100-form-btn.register-form-btn {
  text-decoration: none;
}
a.login100-form-btn.register-form-btn:hover {
  background-color: rgb(0, 148, 202);
}

.txt-account {
  text-align: center;
  display: block;
}

.footer-element {
  position: static;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 30px;
}

.footer-element a {
  text-decoration: none;
}

.error-email-text {
  color: crimson;
}

ul.errorlist {
  list-style-type: none;
}

a.login100-form-btn {
  text-decoration: none;
}

@media (max-width: 576px) {
  .footer-element {
    font-size: x-small;
    height: 20px;
  }
  /* .logo-image img{
    transform: translateY(100%);
   */
}

.loginpage .horizen-line {
  margin: 20px auto;
  position: relative;
}

.loginpage .horizen-line:after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  display: block;
  background: #000;
  background: radial-gradient(#000 40%, rgba(241, 212, 121, 0) 80%);
}
