* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
body {
  font-family: "Roboto", sans-serif;
  font-size: 0.925rem;
}
a {
  text-decoration: none;
}

/* 
/////////////////////////////////////////////////////////////
Nav Bar
////////////////////////////////////////////////////////////
*/

.navbar,
.navbar .container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  z-index: 8888;
}
@media (max-width: 768px) {
  .navbar,
  .navbar .container {
    display: block;
  }
}

.navbar {
  padding: 1.15rem 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.035);
  background-color: #fff;
}
/*
  |-----------------------------------
  | Start navbar logo or brand etc..
  |-----------------------------------
  */
/*
  |-----------------------------------
  | Start navbar menu
  |-----------------------------------
  }
  */

@media (min-width: 576px) {
  .navbar .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .navbar .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .navbar .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .navbar .container {
    max-width: 1140px;
  }
}

.navbar .navbar-header {
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .navbar .navbar-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
}
.navbar .navbar-header .navbar-toggler {
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  display: none;
  outline: none;
}
@media (max-width: 768px) {
  .navbar .navbar-header .navbar-toggler {
    display: block;
  }
}
.navbar .navbar-header .navbar-toggler span {
  height: 2px;
  width: 22px;
  background-color: #929aad;
  display: block;
}
.navbar .navbar-header .navbar-toggler span:not(:last-child) {
  margin-bottom: 0.2rem;
}
.navbar .navbar-header > a {
  font-weight: 500;
  color: #3c4250;
}
.navbar .navbar-menu {
  display: flex;
  flex-basis: auto;
  flex-grow: 1;
  align-items: center;
}
@media (max-width: 768px) {
  .navbar .navbar-menu {
    display: none;
    text-align: center;
  }
}
.navbar .navbar-menu .navbar-nav {
  margin-left: auto;
  flex-direction: row;
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
@media (max-width: 768px) {
  .navbar .navbar-menu .navbar-nav {
    width: 100%;
    display: block;
    border-top: 1px solid #eee;
    margin-top: 1rem;
  }
}
.navbar .navbar-menu .navbar-nav > li > a {
  color: #3c4250;
  text-decoration: none;
  display: inline-block;
  padding: 0.5rem 1rem;
}
.navbar .navbar-menu .navbar-nav > li > a:hover {
  color: #66f;
}
@media (max-width: 768px) {
  .navbar .navbar-menu .navbar-nav > li > a {
    border-bottom: 1px solid #eee;
  }
}
.navbar .navbar-menu .navbar-nav > li.active a {
  color: #66f;
}
.navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown {
  list-style: none;
  position: absolute;
  top: 150%;
  left: 0;
  background-color: #fff;
  padding: 0.5rem 0;
  min-width: 160px;
  width: auto;
  white-space: nowrap;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  z-index: 99999;
  border-radius: 0.75rem;
  display: none;
}
@media (max-width: 768px) {
  .navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown {
    position: relative;
    box-shadow: none;
  }
}
.navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown li a {
  color: #3c4250;
  padding: 0.25rem 1rem;
  display: block;
}
.navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown.show {
  display: block !important;
}
.navbar .navbar-menu .navbar-nav .dropdown > .separator {
  height: 1px;
  width: 100%;
  margin: 9px 0;
  background-color: #eee;
}
.navbar .navbar-dropdown {
  position: relative;
}

.navbar .navbar-header > a span {
  color: #66f;
}

.navbar .navbar-header h4 {
  font-weight: 500;
  font-size: 1.25rem;
}
@media (max-width: 768px) {
  .navbar .navbar-header h4 {
    font-size: 1.05rem;
  }
}

.fusion-text {
  margin: 1% 5%;
}

div#daily-line-bar-randomizeData,
div#weekly-line-bar-canvas-randomizeData,
div#monthly-line-bar-canvas-randomizeData,
div#yearly-line-bar-canvas-randomizeData {
  padding: 2px 6px;
  width: 30px;
  margin: 0 10px 0 auto;
}

div#cdaily-line-bar-randomizeData,
div#cweekly-line-bar-canvas-randomizeData,
div#cmonthly-line-bar-canvas-randomizeData,
div#cyearly-line-bar-canvas-randomizeData {
  padding: 2px 6px;
  width: 30px;
  margin: 0 10px 0 auto;
}

.input-group.kt-input-search input.form-control {
  height: 100%;
}

label.custom-control-label::before,
label.custom-control-label::after {
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

label.custom-control-label::selected,
label.custom-control-label h5::selected {
  background: transparent;
  color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.kt-pagetitle select#dropdown-select-dashboard,
.kt-pagetitle select.form-control.select2 {
  border-radius: 5px;
  box-shadow: none;
}
.kt-pagetitle input{
  margin-right: 5px;
  border-radius: 5px;
  box-shadow: none;
}


.date-compare{
  display: inline-flex;
  align-content: flex-start;
  align-items: center;
  margin-right: auto;
}

.ui-timepicker-standard {
  color: inherit;
}