{% extends 'home.html' %}
{% load static %}
{% block content %}
{% include "base/navbar.html" %}
    <!-- ##### MAIN PANEL ##### -->
    <div class="kt-mainpanel">
      <div class="kt-pagetitle">
        <div class="col-lg-2">
                  <select class="form-control  select2" data-placeholder="Select Device" id="dropdown-select-dashboard">
                    {% comment %} <option label="Choose Duration"></option> {% endcomment %}
                    <option value="today" selected>Today</option>
                    <option value="yesterday">Yesterday</option>
                    <option value="this-week">This Week</option>
                    <option value="last-week">Last Week</option>
                    <option value="this-month">This Month</option>
                    <option value="last-month">Last Month</option>
                    <option value="all-time">All Time</option>
                  </select>
        </div>
        


        <div class="col-lg-5 date-compare">
        {% comment %}
           <div class="custom-control custom-switch">
              <input type="checkbox" class="custom-control-input " id="id_comparision" name="comparision" {% if form.allow_comment.value %}checked{% endif %}>
              <label class="custom-control-label" for="id_comparision" >comparision</label>
               <label class="custom-control-label" for="id_allow_comment" >comparision</label> 
            </div>
            {% endcomment %}
              <input placeholder="Start Date" type="text" class="form-control start-date picker-opener">
              <input placeholder="Start Time" type="text" class="form-control start-time picker-opener">
              <input placeholder="End Date" type="text" class="form-control end-date picker-opener">
              <input placeholder="End Time" type="text" class="form-control end-time picker-opener">
              <button type="button" class="btn btn-outline-dark btn-sm shadow-none" id="compare-btn">compare</button>
        </div>

        <div class="col-lg-2 text-center">
          <h2></h2>
        </div> 



              <div class="col-lg-2">

                  <select class="form-control select2" data-placeholder="Select Device">
                    {% comment %} <option label="Choose Device"></option> {% endcomment %}
                    <option value="USA" selected>Device 1</option>
                    <option value="UK">Device 2</option>
                    <option value="China">Device 3</option>
                    <option value="Japan">Device 4</option>
                  </select>

              </div
              ><!-- col-4 -->


      </div><!-- kt-pagetitle -->

      <div class="kt-pagebody">

        <div class="row row-sm">
          <div class="col-lg-12">
            <div class="row row-sm">
              <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="card">

                  <div class="card-body pd-b-0">
                                  
                    <img src="{% static 'magen/img/money.svg' %}" width="60" class="card-icon"/>
                    
                    
                    <h6 class="card-body-title tx-12 tx-spacing-2 mg-b-20">Saving</h6>
                    
                    <h2 class="tx-roboto tx-inverse">1,297 <small></small></h2>
                    <p class="tx-12"><span class="tx-success">2.5%</span> stability from yesterday</p>
                  </div>
                  
                  <!-- card-body -->
                  {% comment %} <div id="rs1" class="ht-50 ht-sm-70 mg-r--1"></div> {% endcomment %}

      
                      <div>
                        <canvas class="line-bar-canvas"  id="saving-line-bar-canvas"></canvas>
                      </div>
                  {% comment %} <button id="line-bar-addData">Add Data</button> {% endcomment %}
                </div><!-- card -->
              </div><!-- col-6 -->
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <div class="card">
                  <div class="card-body pd-b-0">
                    <img src="{% static 'magen/img/lightbulb.svg' %}" width="60" class="card-icon"/>
                    <h6 class="card-body-title tx-12 tx-spacing-2 mg-b-20">Usage</h6>
                    <h2 class="tx-roboto tx-inverse">500 <small></small></h2>
                    <p class="tx-12"><span class="tx-success">2.5%</span> change from yesterday</p>
                  </div><!-- card-body -->
                  {% comment %} <div id="rs2" class="ht-50 ht-sm-70 mg-r--1"></div> {% endcomment %}
                  <div>
                    <canvas class="line-bar-canvas"  id="usage-line-bar-canvas"></canvas>
                  </div>
                </div><!-- card -->
              </div><!-- col-6 -->
            </div><!-- row -->

            <div class="row row-sm">
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <div class="card mg-t-20">
                  <div class="card-body pd-b-0 ">
                            <img src="{% static 'magen/img/energy.svg' %}" width="60" class="card-icon"/>
                    <h6 class="card-body-title tx-12 tx-spacing-2 mg-b-20">Energy</h6>
                    <h2 class="tx-lato tx-inverse">100 <small>%</small></h2>
                    <p class="tx-12"><span class="tx-success">2.5%</span> change from yesterday</p>
                  </div><!-- card-body -->
                  {% comment %} <div id="rs3" class="ht-50 ht-sm-70 mg-r--1"></div> {% endcomment %}
                  <div>
                    <canvas class="line-bar-canvas"  id="energy-line-bar-canvas"></canvas>
                  </div>
                </div><!-- card -->
              </div><!-- col-6 -->
              <div class="col-lg-6 mg-t-20">
                <div class="card">
                  <div class="card-body pd-b-0">
                    <img src="{% static 'magen/img/energy-1.svg' %}" width="60" class="card-icon"/>
                    <h6 class="card-body-title tx-12 tx-spacing-2 mg-b-20">Power Factor</h6>
                    <h2 class="tx-roboto tx-inverse">5,298 <small></small></h2>
                    <p class="tx-12"><span class="tx-success">2.5%</span> change from yesterday</p>
                  </div><!-- card-body -->
                  {% comment %} <div id="rs4" class="ht-50 ht-sm-70 mg-r--1"></div> {% endcomment %}
                  <div>
                    <canvas class="line-bar-canvas"  id="power-factor-line-bar-canvas"></canvas>
                  </div>
                </div><!-- card -->
              </div><!-- col-6 -->
            </div><!-- row -->



            <div class="row row-sm">
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <div class="card mg-t-20">
                  <div class="card-body pd-b-0 ">
                            <img src="{% static 'magen/img/sound-wave.svg' %}" width="60" class="card-icon"/>
                    <h6 class="card-body-title tx-12 tx-spacing-2 mg-b-20">THD</h6>
                    <h2 class="tx-lato tx-inverse">100 <small>%</small></h2>
                    <p class="tx-12"><span class="tx-success">2.5%</span> change from yesterday</p>
                  </div><!-- card-body -->
                  {% comment %} <div id="rs3" class="ht-50 ht-sm-70 mg-r--1"></div> {% endcomment %}
                  <div>
                    <canvas class="line-bar-canvas"  id="thd-line-bar-canvas"></canvas>
                  </div>
                </div><!-- card -->
              </div><!-- col-6 -->
              <div class="col-lg-6 mg-t-20">
                <div class="card">
                  <div class="card-body pd-b-0">
                    <img src="{% static 'magen/img/temperature.svg' %}" width="60" class="card-icon"/>
                    <h6 class="card-body-title tx-12 tx-spacing-2 mg-b-20">TDI</h6>
                    <h2 class="tx-roboto tx-inverse">5,298 <small></small></h2>
                    <p class="tx-12"><span class="tx-success">2.5%</span> change from yesterday</p>
                  </div><!-- card-body -->
                  {% comment %} <div id="rs4" class="ht-50 ht-sm-70 mg-r--1"></div> {% endcomment %}
                  <div>
                    <canvas class="line-bar-canvas"  id="tdi-line-bar-canvas"></canvas>
                  </div>
                </div><!-- card -->
              </div><!-- col-6 -->
            </div><!-- row -->



  

          </div><!-- col-sm -->
        </div><!-- row -->
      </div><!-- kt-pagebody -->
      
      {% comment %} <div class="kt-footer">
        <span>Copyright &copy;. All Rights Reserved. Magen IOT admin Dashboard.</span>
        <span>Created by: vueghost.</span>
      </div><!-- kt-footer --> {% endcomment %}
    </div><!-- kt-mainpanel -->

     {% endblock content %}